---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 1
TabWidth: 1
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
BinPackArguments: true
BinPackParameters: true
CompactNamespaces: true
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentCaseBlocks: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 0
ReflowComments: false
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: false
IncludeBlocks: Preserve
AlignTrailingComments: false