---
# Human-readable C++ format style.
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortNamespacesOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
CompactNamespaces: false
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentCaseBlocks: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
ReflowComments: true
SeparateDefinitionBlocks: Always
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
PointerAlignment: Left
NamespaceIndentation: None
SortIncludes: true
IncludeBlocks: Regroup
